@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6efdf;
}

.logo {
  color: #333;
  font-size: 25px;
}

.special-color {
  color: #9D470D;
}

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 25px 150px;
  background-color: #fcf9f3;
}

ul>li {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
}

.nav-list a {
  color: #333;
  padding: 0px 20px
}

.nav-list a:hover {
  color: #9D470D;
}
/* end of navbar styling */

/* showcase and hero image */
.page-content {
  margin: 0 10%;
}

.showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/frontend-user/assets/heroImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 70vh;
  margin-bottom: 50px;
}

.hero-content { 
  /* limiting the area of the title and parag */
  width: 35%;
  height: 100%;
  color: #f6efdf;
}

.hero-title {
  font-weight: bolder;
  font-size: 60px;
  line-height: 58px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 150px;
}
/* end of showcase and hero image */

/* items containers */
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt-item>h1 {
  font-size: 25px;
  color: #9D470D;
  border-bottom: 3px solid #9D470D;
  margin-bottom: 20px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: #fcf9f3;
  padding: 20px 15px;
  margin: 10px 10px;
  width: 30%;
  height: 100%;
}

.item-info {
  display: flex;
}

.item-image > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.item-like {
  margin: auto auto;
  font-size: 25px;
  color: dimgray;
  cursor: pointer;
}

.item-like:hover {
 color: darkred;
}

/* login page styling */
/* Log In Styling */
.login, .signup {
  width: 400px;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcf9f3;
  border: 2px solid #fcf9f3;
  border-radius: 10px;
}

.login>h1 ,
.signup>h1 {
  margin: 20px;
  text-align: center;
  font-size: 22px;
  color: #9D470D;
}

.login-form, .signup-form{
  margin: 20px;
}

.input-box {
width: 100%;
padding: 10px 0;
}

input {
width: 100%;
height: 50px;
border: 2px solid #c5c5c5;
border-radius: 10px;
font-size: 17px;
padding: 0 10px;
}

.login-btn, .signup-btn{
font-size: 18px;
width: 100%;
font-weight: bold;
color: #fcf9f3;
background-color: #9D470D;
padding: 10px 30px;
border: none;
border-radius: 10px;
cursor: pointer;
margin-top: 10px;
}

.login-btn:hover, 
.signup-btn:hover{
 background-color: #333;
}

.login-text{
  color: #9D470D;
  margin: 20px;
}

.login-text a{
  color: #9D470D;
  cursor: pointer;
}

.login-text a:hover{
  color: #333;
}
/* end of log in */