@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* the colors used are: 
#f6efdf: light beige background l body
#333: dark color for the 2nd part of the logo
#9D470D: lightest part of the logo
#fcf9f3: close to white but not white, for nav and forms
#c5c5c5: border color for inputs
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6efdf;
}

.logo {
  color: #333;
}

.special-color {
  color: #9D470D;
}
 
section {
  margin: 0 10%;
  margin-top: 20px;
}

/* Log In Styling */
.login{
    width: 400px;
    margin: 25vh auto;
    background-color: #fcf9f3;
    border: 2px solid #fcf9f3;
    border-radius: 10px;
}

.login>h1 {
    margin: 20px;
    text-align: center;
    font-size: 22px;
    color: #9D470D;
}

.login-form{
    margin: 20px;
}

.input-box {
  width: 100%;
  padding: 10px 0;
}

input {
  width: 100%;
  height: 50px;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  font-size: 17px;
  padding: 0 10px;
}

.login-btn {
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  color: #fcf9f3;
  background-color: #9D470D;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover{
  background-color: #333;
}
/* end of log in styling */

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 25px 150px;
  background-color: #fcf9f3;
}

ul>li {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}

.nav-list a {
  color: #333;
}

.nav-list a:hover {
  color: #9D470D;
}

.nav-list>li>.active {
  color: #9D470D;
  padding-bottom: 15px;
  border-bottom: 2px solid #9D470D;
}
/* end of navbar styling */

/* Table Styling */
.table {
  border-collapse: collapse;
  margin: 30px auto;
  min-width: 400px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 50%;
  background-color: #fcf9f3;
  color: #333;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table th,
.table td {
  padding: 15px 15px;
}
/* end table styling */

/* add button styling */
.add-btn, 
.submit-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #9D470D;
  font-weight: bold;
  margin-top: 10px;
  color: #fcf9f3;
}

.add-btn a ,
.submit-btn a{
  color: #fcf9f3;
}

.add-btn:hover, 
.submit-btn:hover{
  background-color: #333;
}
/* end of add button styling */

/* modal styling */
/* reference w3 schools: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f6efdf;
  margin: auto;
  padding: 20px;
  border: 1px solid #fcf9f3;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
/* end of modal styling */

/* form styling */
input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  color: #333;
}